@import '@/styles/style.scss';

.item {
    &__select {
        min-width: 80px;
        color: $almostDark;
    }

    &__recomend {
        padding-top: 30px;
        border-top: 1px solid $grey;
        grid-column: 1/3;
    }

    &__title {
        font-size: 25px;
        margin-bottom: 40px;
    }

}

.button--primery {
    position: relative;

    transition: background 0.2s ease-in-out;

    div {
        color: white;
        text-transform: uppercase;
        font-family: 'Geometria';

        font-size: 10px;
        font-weight: 600;
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translate(-50%, 20px);
        transition: transform 0.5s ease-in-out;
    }
}

.button--added {
    background-color: $green  !important;

    div {
        transform: translate(-50%, 0px);
    }
}

.spinner-small::after {
    @include basketItemSpinner;
}

@mixin selectBorderColor {
    cursor: pointer;

    background-color: $almostDark;
    border: 1px solid transparent;
    transition-property: border-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    &:hover {
        color: $red  !important;
        border-color: $red;
    }
}

.item__quantity--error {
    color: $red;
}

.item__content {
    margin: 0 auto;

    p {
        display: block;
        margin-bottom: 10px;
    }
}

.container {
    width: auto;
}

.tabs {
    flex-wrap: wrap;
    justify-content: center;
}

.tabs__link {
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    transition: color 0.2s ease-in-out, font-weight 0.2s ease-in-out;

    &:hover {
        color: $almostDark;
    }
}

.tabs__link:focus::after,
.tabs__link:hover::after,
.tabs__link--current::after {
    bottom: -1px;
    background-color: $red;
}

.item__title {
    font-weight: 600;
}

.tabs__link::after {
    pointer-events: none;
}

.item__volume {}

.item__brand {}

.form__block {
    position: relative;
}

.item__price-block {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    .item__price {
        position: absolute;
        display: block;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 50%;
        transition: transform 0.2s ease-in-out;

        &--center {
            transform: translate(-50%, 50%);
        }
    }

    .item__subprice {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        text-decoration: line-through;
        color: $red;
        opacity: 0.8;
        width: auto;
        font-size: 30px;
    }
}

.counter__button {
    border-radius: 50%;
    border: 2px solid $almostDark;
}

.item__row {
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;

    .form__legend {
        margin-bottom: 20px;
    }
}


.select-one {
    pointer-events: none;
    border: none;

    .select-arrow {
        display: none;
    }
}

.product .button-primary {
    max-width: 180px;
}

.pics__link--current {
    pointer-events: none;
}

.pics__link {
    display: block;
    height: 100%;
    box-shadow: $almostDark 2px 2px 5px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out,
        border 0.2s ease-in-out;

    &:hover {
        box-shadow: $almostDark 4px 4px 10px;
        transform: scale(1.05);
    }

    img {
        height: 100% !important;
    }
}

.item {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 520px auto;

    &__info {
        height: 100%;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-gap: 30px;
    }

    .form {
        height: 100%;
        display: grid;
        grid-gap: 30px;
        grid-template-rows: 20px 1fr 1fr 70px;
    }

    &__pics {
        height: 100%;
    }
}

.pics__wrapper {
    height: 100%;
    grid-row: 1/2;
    position: relative;
    transition: background 0.2s ease-in-out;

    .pics__list {
        position: absolute;
        bottom: 0;
        left: 20px;

        .pics__link {
            img {
                object-fit: cover;
            }

            height: 100px;

            width: 100px;
            border-radius: 10px;
            border: 1px solid transparent;
            background-color: white;
            overflow: hidden;
        }
    }
}

.brand-list {
    display: grid;
    grid-auto-rows: 15px;
    grid-gap: 5px;
    margin: 0;

    &__item {
        height: 40px;
        display: flex;
        align-items: center;
    }
}

.item__form {
    max-width: 400px;
    margin: 0;
}

.form .button--primery {
    width: 100%;
}

@media (max-width: 800px) {
    .item {
        grid-template-columns: 1fr;
        grid-template-rows: 400px 500px 1fr;
    }

    .item__form {
        margin: 0 auto;
    }

    .item__content {
        width: auto;
    }

    // .tabs {
    //   flex-direction: column;
    // }
}