$almostDark: #222;
$light: #d1d1d1;
$green: #a7dc00;
$red: #c73f03;
$inputBackground: #fafafa;
$darkGrey: #b9b9b9;
$grey: #e2e2e2;
$placeholder: #888;
$w: #fff;

$hover: lighten(#c73f03, 10%);

ul {
    list-style-type: none;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}



@mixin disabled {
    &::before {
        z-index: 100;
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.7;
        background: white;
    }
}

@mixin spinner {
    &::after {
        z-index: 1000;
        position: absolute;
        content: '' !important;
        left: calc(50% - 50px);
        top: calc(50% - 50px);
        width: 100px;
        height: 100px;
        border: 10px solid transparent;
        border-top-color: $red;
        border-radius: 50%;
        animation: circle 1s infinite;
        transform-origin: center;
    }
}


.spinner-small {
    pointer-events: none;
    position: relative;
    @include disabled;
    @include spinner;
}

@mixin fontCondenced {
    font-family: 'FuturaCondenced';
    font-weight: 400 !important;
    line-height: 1;
}

@mixin font {
    font-family: 'FuturaNormal';
    font-weight: 500;
    line-height: 1;
}

@mixin buttonBack {
    background-color: $red;
    @include fontCondenced;
    border: none;
    color: white;
    letter-spacing: 1px;

    &:not(:disabled):focus {
        background-color: darken($red, 10%);
    }

    &:not(:disabled):hover {
        background-color: $hover;
    }


}

.button {
    &--primery {
        @include buttonBack;
        font-size: 24px;
    }

    &--second {
        @include buttonBack;
        background-color: darken($green, 10%);


        &:not(:disabled):hover {
            background-color: $green;
        }

    }
}


@mixin basketItemSpinner {
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    border-width: 7px;
}

.spinner-button-small {
    pointer-events: none;
    position: relative;
    @include disabled;
    @include spinner;

    &::after {
        @include basketItemSpinner;
    }
}

.header__count {
    padding-top: 4px;
    background-color: $red;
    font-size: 12px;
    line-height: 12px;
    min-width: 18px;
    height: 18px;
    bottom: -1px;
    right: -5px;
}

.header__cart {
    height: 33px;
}


.button-del {
    cursor: pointer;

    svg {
        width: 18px;
        height: 18px;
    }

    path {
        transition: stroke 0.2s ease-in-out;
    }

    &:hover {
        path {
            stroke: $hover;
        }
    }
}

@mixin smallFont {
    font-size: 14px;
    color: $darkGrey;
}

@mixin button {
    transition: color 0.2s ease-in-out;
    text-transform: uppercase;
    font-weight: 500;

    &:hover {
        color: $almostDark;
    }
}

@keyframes circle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}